@charset 'utf-8';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline-style: none;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    vertical-align: middle;
    border: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: Spoqa Han Sans, "Sans-serif";
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.2px;
    overflow: hidden;
}



/* 공통 */
.inner {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;
    width: 100%;
    position: relative;
}

/* modal */

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  z-index: 9999999;
  display: block;
}

.modal-wrap{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 40%;
  background-color: #fff;
  border-radius: 50px;
  padding: 2%;
  text-align: center;
  border: 3px solid #888;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.modal-close{
  position: absolute;
  right: 50px;
  top: 30px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.7s;
}

.modal-close i {
  font-size: 30px;
}

.modal-close:hover{
  transform: rotate(360deg);
}
.modal-wrap h2{
  display: block;
  width: 100%;
  font-size: 35px;
  font-weight: 500;
  color: #000;
}

.modal-wrap p{
  width: 100%;
  font-size: 21px;
  color: #000;
}

.modal-wrap ul{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.modal-wrap ul li{
  width: 30%;
}

.modal-wrap ul li i{
  font-size: 30px;
  color: #bbb;
  transition: color 0.5s;
}

.modal-wrap ul li a i:hover{
  color: #000;
}


/* top */
.top {
    position: relative;
    width: 100%;
    height: 60px;
    display: block;
    background: radial-gradient(circle at 50% 527%, #ff896a, #e23000 119%);
}

.top-none {
    display: none;
}

.top .inner a {
    width: 100%;
    max-width: 1180px;
    height: 60px;
    position: relative;
    display: block;
    background: url(../images/탑배너광고.png) no-repeat center;
    background-size: contain;
}

.top-close {
    float: right;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

@media all and (max-width:1100px) {
    .top {
        height: 7vw;
    }

    .top .inner a {
        width: 100vw;
        height: 7vw;
    }

    .top-close {
        width: 7vw;
        height: 7vw;
    }
}

/* menubar */

.menubar {
    position: fixed;
    top: 0;
    right: -500px;
    display: block;
    width: 460px;
    height: 100%;
    background-color: #fff;
    z-index: 99999;
    transition: all 0.3s;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 30%);
}

.menubar.open {
    right: 0;
}

.menubar-top {
    position: relative;
    display: block;
    padding: 20px 20px 0 20px;
}

.menubar-top h2 {
    position: relative;
    display: block;
    float: left;
    font-size: 24px;
    margin-top: 6px;
}

.menubar-nav {
    position: relative;
    display: block;
    float: right;

}

.menubar-kart {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    background: url(../images/kart.svg) no-repeat center;
    background-size: cover;
    float: left;
}

.menubar-close {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    background: url(../images/close.svg) no-repeat center;
    background-size: cover;
    float: left;
    margin-left: 8px;
}

.menubar-middle {
    position: relative;
    display: block;
    margin-top: 32px;
    padding: 0 20px;

}

.menubar-middle p {
    position: relative;
    display: block;
    font-size: 18px;
    margin-bottom: 24px;
}

.menubar-middle ul {
    display: table;
    width: 100%;
}

.menubar-middle ul li {
    display: table-cell;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 20px;

}

.menubar-middle li:hover{
    background-color: #eee;
}
.menubar-middle ul li p {
    position: relative;
    display: block;
    font-size: 18px;
    text-align: center;
}

.menubar-bottom {
    position: relative;
    display: block;
    border-top: 1px solid #e0e0e0;
    padding: 0 20px;
}

.menubar-bottom h5 {
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
}

.menubar-bottom h5:last-child {
    margin-top: 40px;
}


/* 반응형 */
@media all and (max-width:800px) {
    .menubar {
        width: 60vw;
    }

    .menubar-middle p {
        white-space: nowrap;
    }
}

@media all and (max-width:550px) {
    .menubar-top h2 {
        font-size: 20px;
    }

    .menubar-kart,
    .menubar-close {
        width: 8vw;
    }

    .menubar-middle li a p {
        font-size: 14px;
    }

    .menubar-bottom h5 {
        font-size: 16px;
    }
}

/* 헤더영역 */

.header {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 96px;
    background-color: #000;
    z-index: 99998;

}

.header .inner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: block;
    height: 100%;

}

.logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url(../images/다운로드.svg) no-repeat center;
    background-size: contain;
    width: 129px;
    height: 48px;
    font-size: 0;
}

.gnb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13%;
    display: block;
}

.gnb li {
    position: relative;
    display: inline-block;
    float: left;
}

.gnb li a {
    display: block;
    color: white;
    font-size: 16px;
    margin-left: 20px;
    text-align: center;
    font-weight: 400;
}

.right-gnb {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    right: 100px;
    display: block;
}

.gnb2 {
    display: block;
    position: relative;
    float: left;
    margin-right: 15px;
}

.gnb2:last-child {
    margin-right: 10px;
}

.gnb2:first-child {
    border-right: 1px solid white;
}

.gnb2 li {
    display: inline-block;
    position: relative;
    float: left;
}

.gnb2 li a {
    display: block;
    position: relative;
    color: white;
    font-size: 14px;
    margin-right: 15px;
}

.nav-right {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    transform: translateY(-50%);
    float: left;
}

.kart {
    display: block;
    position: relative;
    font-size: 0 !important;
    background: url(../images/카트.svg) no-repeat center;
    background-size: contain;
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 5px;
}

.all-menu {
    display: block;
    position: relative;
    font-size: 0;
    float: left;
    background: url(../images/전체메뉴.svg) no-repeat center;
    background-size: contain;
    width: 48px;
    height: 48px;

}

@media all and (max-width:1200px) {

    .nav-right {
        right: 2%;
    }
}
@media all and (max-width:800px) {
    .header {
        height: 13vw;
    }

    .header-fix {
        height: 13vw;
    }

    .logo {
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .gnb {
        display: none;
    }

    .right-gnb {
        display: none;
    }
}

@media all and (max-width:650px) {
    .logo {
        width: 20vw;
        height: 7.5vw;
    }

    .kart {
        width: 7.5vw;
        height: 7.5vw;
    }

    .all-menu {
        width: 7.5vw;
        height: 7.5vw;
    }
}



/* visual */
.visual {
    display: block;
    position: relative;
    /* margin-top: 96px; */
}

.visual .inner {
    width: 100%;
    max-width: none;
    height: 560px;
    position: relative;
    display: block;
    background: url(../images/main_firstgift_logout-2x.c68c3a7.png) no-repeat center;
    background-size: cover;
    cursor: pointer;

}

@media all and (max-width:1200px) {

    .visual .inner {
        width: auto;
        height: 100%;
        padding: 20%;
    }
}

/* c-b */
.cb {
    display: block;
    position: relative;
    height: 176px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
}


.cb .left-cb {
    width: 50%;
    height: 176px;
    position: relative;
    display: block;
    float: left;
}

.cb .right-cb {
    position: relative;
    width: 50%;
    height: 100%;
    display: block;
    float: left;
}


.sw-cb {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.sw-cb a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

}

.swiper-slide .swiper-slide-next {
    display: none;
}

.sw-cb-1 {
    background: url(../images/1.png) no-repeat center;
    background-size: cover;
}

.sw-cb-2 {
    background: url(../images/2.png) no-repeat center;
    background-size: cover;
}

.sw-cb-3 {
    background: url(../images/3.png) no-repeat center;
    background-size: cover;
}

.sw-cb-4 {
    background: url(../images/4.png) no-repeat center;
    background-size: cover;
}

.sw-cb-5 {
    background: url(../images/5.png) no-repeat center;
    background-size: cover;
}

.sw-cb-6 {
    background: url(../images/6.png) no-repeat center;
    background-size: cover;
}

.sw-cb-7 {
    background: url(../images/7.png) no-repeat center;
    background-size: cover;
}

.sw-cb-control {
    position: absolute;
    bottom: 5%;
    left: 2%;
    display: block;
    border: 1px solid #eaeaea;
    z-index: 99999;
    width: 100%;
    width: 86px;
    height: 30px;
    /* opacity: 1; */
    background-color: white;
}

.sw-cb-prev {
    position: relative;
    display: block;
    width: 17px;
    height: 17px;
    background: url(../images/prev.svg) no-repeat center;
    background-size: cover;
    transform: rotate(180deg);
    border: 0;
    cursor: pointer;
    float: left;
    margin-top: 5px;
}
sw-cb-prev swiper-button-disabled{
    color: #999;
}
.swiper-pagination {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    font-size: 13px;
    line-height: 13px;
    margin-top: 16px;
}

.sw-cb-next {
    position: relative;
    display: block;
    width: 17px;
    height: 17px;
    background: url(../images/prev.svg) no-repeat center;
    background-size: cover;
    border: 0;
    cursor: pointer;
    float: left;
    margin-top: 4px;
}

.right-cb {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    height: 176px;
}

.right-cb a {
    position: relative;
    display: block;
    width: 100%;
    height: 176px;
    background: url(../images/freshplan.9fe4775.png)no-repeat center;
    background-size: cover;
    border-left: 1px solid #eaeaea;
}

@media all and (max-width:1050px) {
    .cb {
        height: 60vw;
        margin-top: 0;
    }

    .cb .left-cb {
        display: block;
        width: 100%;
        max-width: 1000px;
        height: 30vw;
    }
    .swiper-slide a {
        background-size: contain;
    }
    .sw-cb-control {
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }

    .cb .right-cb {
        display: block;
        width: 100%;
        max-width: 1000px;
        height: 30vw;
    }

    .right-cb a {
        height: 100%;
        background-size: contain;
        border: 0;
    }
}


/* best item */
.best-list {
    display: block;
    position: relative;
    margin-top: 50px;
}

.best-list h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.best-list-gnb {
    display: block;
    position: relative;
}

.best-list-gnb li {
    display: block;
    position: relative;
    width: 31%;
    margin-right: 3.5%;
    float: left;
    margin-bottom: 7%;
}

.best-list-gnb li:nth-child(3) {
    margin-right: 0;
}

.best-list-gnb li:nth-child(6) {
    margin-right: 0;
}

.best-list-gnb li div {
    display: block;
    position: relative;
    height: 416px;
    background-color: #f9f7f8;
    padding-top: 15.8%;
    text-align: center;
}

.best-list-gnb li .product {
    display: block;
    position: relative;
    width: 73%;
    margin: 0 auto;
}

.best-list-gnb li a img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;

}
.best-list-tag{
    position:absolute;
    left: 15px;
    top: 15px;
    width: 75px;
    height: 30px;
    background: url(../images/무항생제.svg)no-repeat center;
    background-size: contain;
}
.best-list-gnb li div i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    width: 68px;
    height: 68px;
    background: #fff url(../images/cart.svg) no-repeat center;
    background-size: cover;
    z-index: 9999;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 25px 10px -15px rgb(0 0 0 / 12%);
}

.best-list-gnb li div i:hover {
    background: #222 url(../images/카트\ 아이콘\ white.svg) no-repeat center;
    background-size: cover;

}

.best-list-gnb li a p {
    display: block;
    position: relative;
    font-size: 18px;
    margin-top: 16px;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: -0.5px;
}

.best-list-gnb li a p span {
    font-size: 16px;
    color: rgb(155, 155, 155);
    font-weight: normal;
    white-space: nowrap;
}

/* PC버전 */
/* 모바일버전 */
@media all and (max-width:1200px) {

    .best-list h2 {
        padding-left: 3.6%;
    }

    .best-list-gnb>li {
        width: 46.5%;
        margin-right: 3%;
        padding: 0 1.6%;
    }

    .best-list-gnb li:nth-child(1) {
        margin-left: 2%;
    }

    .best-list-gnb li:nth-child(2) {
        margin-right: 0;
    }

    .best-list-gnb li:nth-child(3) {
        margin-right: 3%;
        margin-left: 2%;
    }

    .best-list-gnb li:nth-child(4) {
        margin-right: 0;
    }

    .best-list-gnb li:nth-child(5) {
        margin-right: 3%;
        margin-left: 2%;
    }

    .best-list-gnb li:nth-child(6) {
        margin-right: 0;
    }

    .best-list-gnb li div {
        height: 34vw;
        padding-top: 5.8%;
    }

    .best-list-gnb li a img {
        width: 90%;
    }

    .best-list-gnb li div i {
        width: 5.6vw;
        height: 5.6vw;
    }
}

@media all and (max-width:1050px) {
    .best-list{
        margin-top: 3vw;
    }
    .best-list h2 {
        font-size: 25px;
    }
}

@media all and (max-width:800px) {

    .best-list-gnb li a p {
        font-size: 16px;
    }

    .best-list-gnb li a p span {
        font-size: 14px;
    }
}
@media all and (max-width:700px) {
    .best-list-tag{
        left: 2vw;
        top: 2vw;
        width: 10vw;
        height: 5vw;

    }
}
@media all and (max-width:620px) {
    .best-list h2 {
        font-size: 20px;
    }

    .best-list-gnb li a p {
        font-size: 13px;
    }

    .best-list-gnb li a p span {
        font-size: 10px;
    }

}

@media all and (max-width:500px) {


    .best-list h2 {
        font-size: 15px;
    }

    .best-list-gnb li a p {
        font-size: 10px;
    }

    .best-list-gnb li a p span {
        font-size: 8px;
    }
}

/* shopping */
.shopping {
    display: block;
    position: relative;
}

.shopping .inner {
    width: 100%;
    max-width: 1200px;
}

.shopping .inner .img {
    display: block;
    position: relative;
    background: url(../images/banner_shop.96086e0.png)no-repeat center;
    background-size: cover;
    width: 98.3%;
    height: 208px;
    cursor: pointer;
    margin: 0 auto;
}

@media all and (max-width:1200px) {

    .shopping .inner .img {
        height: 17.3vw !important;
    }
}

/* footer */
.footer {
    display: block;
    position: relative;
    margin-top: 150px;
    border-top: 1px solid #bdbdbd;

}

.footer-top {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-top-left {
    display: block;
    position: relative;
    float: left;
    line-height: 63px;
}

.footer-top-right {
    display: block;
    position: relative;
    float: right;
    margin: 11.5px 0;
}

.footer-top-left a {
    display: block;
    position: relative;
    float: left;
    margin-right: 25px;
    font-size: 14px;
}

.footer-top-right button {
    display: block;
    position: relative;
    float: left;
    width: 128px;
    height: 40px;
    background: #fafafa url(../images/앱설치.svg) no-repeat 8px center;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
    padding-left: 24px;
    margin-right: 20px;
    font-size: 12px;
}

.footer-top-right i {
    display: block;
    position: relative;
    float: left;
    cursor: pointer;
    width: 24px;
    height: 24px;

}

.footer-sns-ch {
    background: url(../images/sns-ch.svg) no-repeat center;
    background-size: contain;
    margin-right: 20px;
    margin-top: 7px;

}

.footer-sns-is {
    background: url(../images/sns-is.svg) no-repeat center;
    background-size: cover;
    margin-top: 7px;
}

.footer-line {
    border-top: 1px solid #eee;
}

.footer-bottom {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-top: 10px;
}

.footer-bottom-left {
    float: left;
    display: block;
    position: relative;
}

.footer-bottom-left i {
    display: block;
    position: relative;
    margin: 16px 0;
}

.footer-bottom-left img {
    display: block;
    width: 82px;
    height: auto;
}

.footer-bottom-left p {
    font-size: 13px;
    line-height: 23px;
}

.footer-bottom-left span {
    color: #4BB8CE;
    cursor: pointer;
}

.footer-bottom-right {
    float: right;
    text-align: right;
}

.footer-bottom-right h5 {
    font-size: 14px;
}

.footer-bottom-right h4 {
    font-size: 24px;
    margin-top: -9px;
}

.footer-bottom-right span {
    display: block;
    position: relative;
    color: #757575;
    margin-top: -5px;
}

.footer-bottom-right a {
    color: #4BB8CE;
    cursor: pointer;
}

.footer-bottom-copy {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.footer-bottom-copy p {
    float: left;
    margin-top: 15px;
    font-size: 12px;
    line-height: 15px;
}

.footer-bottom-copy button {
    float: right;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 88px;
    line-height: 32px;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #212121;
    border-radius: 4px;
    text-align: center;

}

.footer-bottom-copy button:first-child {
    margin-right: 0;
}

@media all and (max-width:1200px) {
    .footer {
        margin-top: 12.5vw;
    }
}

@media all and (max-width:620px) {
    .footer-bottom-left {
        display: none;
    }

    .footer-bottom-right {}
}

@media all and (max-width:500px) {
    .footer-bottom-right {
        width: 150px;
        margin: 0 auto;
        float: none;
        text-align: center;

    }

    .footer-top-left {
        display: none;
    }

    .footer-top-right {
        width: 250px;
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    .footer-bottom-copy p {
        display: none;
    }

    .footer-bottom-copy {
        width: 200px;
        margin: 0 auto;
    }
}